/* ==========================================================================
   Variables
   ========================================================================== */

/* Color
========================================================================== */
$placeholder-background-color: #eee;
$placeholder-background-color-secundary: #f6f7f8;

/* ==========================================================================
   Animations
   ========================================================================== */
@keyframes placeHolderShimmer {
  from { background-position: -468px 0; }
  to { background-position: 468px 0; }
}

/* ==========================================================================
   Placeholders
   ========================================================================== */
%effect {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $placeholder-background-color-secundary;
  background: linear-gradient(to right, $placeholder-background-color 8%, $placeholder-background-color-secundary 18%, $placeholder-background-color 33%);
  background-size: 916px 1px;
}

/* ==========================================================================
   Placeholder Component
   ========================================================================== */
.text {
  @extend %effect;

  height: 1em;
  position: relative;
  width: 100%
}

.rect {
  @extend %effect;

  height: 100%;
  margin-right: 10px;
  width: 100%;
}

.round {
  @extend %effect;

  border-Radius: 50%;
  height: 100%;
  width: 100%;
}

.media { display: flex; }
.media-round {
  min-height: 55px;
  min-width: 55px;
  margin-right: 10px;
  width: 55px;
}

.textBlock {
  width: 100%;
}
