/* ==========================================================================
  Variables
  ========================================================================== */

/* Color
========================================================================== */
$fillFirePath: #fc0;

/* ==========================================================================
  Progress Bar component
  ========================================================================== */
.progressBar {
  background-color: $fillFirePath;
  height: 3px;
  left: 0;
  position: fixed;
  top: 7px;
  z-index: 9999;
}

/* ==========================================================================
  Rocket
  ========================================================================== */
.rocket {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  z-index: 2;
}
