@import "../config";

/* ==========================================================================
  Variables
  ========================================================================== */
$background-color: #fff;
$border-color: #ddd;

/* ==========================================================================
  Animations
  ========================================================================== */

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }


  10%,
  50%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }


  30%,
  70% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% { transform: scale3d(1.1, 1.1, 1.1); }

  40% { transform: scale3d(0.9, 0.9, 0.9); }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% { transform: scale3d(0.97, 0.97, 0.97); }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% { transform: scale3d(0.9, 0.9, 0.9); }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }


  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

/* ==========================================================================
  Table Component
  ========================================================================== */
$th-color: #676a6c;

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  border-top: 1px solid $border-color;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.react-bs-table-container {
  .react-bs-table-search-form {
    margin-bottom: 0;
  }

  & > .table { display: none; }
}

.react-bs-table {
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 5px 0;


  table {
    margin-bottom: 0;
    max-width: 100%;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    color: $th-color;
    font-size: 14px;
    font-weight: 700;
  }

}

.react-bs-container-header {
  overflow: hidden;
  width: 100%;

  & th { vertical-align: middle; }
  & .filter { font-weight: 400; }

  & .select-filter {
    &.placeholder-selected {
      option {
        &:not([value=""]) {
          color: initial;
          font-style: initial;
        }
      }
    }
  }

  & .date-filter,
  & .number-filter {
    display: flex;
  }

  & .date-filter-input,
  & .number-filter-input {
    float: left;
    margin-left: 5px;
    width: calc(100% - 67px - 5px);
  }


  & .date-filter-comparator,
  & .number-filter-comparator {
    float: left;
    width: 67px;
  }
}

.react-bs-container-body {
  overflow: auto;
  width: 100%;
}

.table-bordered {
  border: 0;

  & > thead > tr > td,
  & > thead > tr > th {
    border-bottom-width: 2px;
  }

  & > tfoot > tr > td,
  & > tfoot > tr > th {
    border-bottom-width: 0;
    border-top-width: 2px;
  }

  & > thead > tr > th,
  & > thead > tr > td,
  & > tbody > tr > th,
  & > tbody > tr > td,
  & > tfoot > tr > th,
  & > tfoot > tr > td {
    border: 1px solid $border-color;
  }

  & > tbody > tr > td,
  & > tbody > tr > th,
  & > tfoot > tr > td,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > thead > tr > th {
    &:first-child { border-left-width: 0; }

    &:last-child { border-right-width: 0; }
  }

  & > thead > tr,
  & > thead > tr {
    &:first-child > td,
    &:first-child > th {
      border-top-width: 0;
    }
  }

  & > tfoot > tr,
  & > tfoot > tr {
    &:last-child > td,
    &:last-child > th {
      border-bottom-width: 0;
    }
  }
}

.sort-column { cursor: pointer; }

.react-bs-container {
  .textarea-save-btn {
    position: absolute;
    right: 0;
    top: -21px;
    z-index: 100;
  }
}

.react-bs-table-no-data { text-align: center; }

.animated {
  animation-fill-mode: both;

  &.bounceIn,
  &.bounceOut {
    animation-duration: 0.75s;
  }

  &.shake { animation-duration: 0.3s; }
}

.shake { animation-name: shake; }
.bounceIn { animation-name: bounceIn; }
.bounceOut { animation-name: bounceOut; }

/* ==========================================================================
  Caret
  ========================================================================== */
.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.dropup {
  position: relative;

  .caret {
    border-bottom: 4px solid;
    border-top: 0;
    content: "";
  }
}


/* ==========================================================================
  Search
  ========================================================================== */

/* Border color
   ========================================================================== */
$field-border-color: #ccc;
$field-default-background: #fff;
$field-default-color: #333;

$field-disabled: #ccc;
$field-disabled-color: #999;

.react-bs-table-tool-bar {
  margin: 10px 10px 0;

  .form-control {
    border: 1px solid $field-border-color;
    color: $field-default-color;
    display: block;
    outline: none;
    padding: 10px;
    width: 100%;

    &:disabled {
      background: $field-disabled;
      color: $field-disabled-color;
    }
  }
}

/* ==========================================================================
  Filter
  ========================================================================== */

/* Color
   ========================================================================== */
$filter-border-color: #ccc;
$filter-background-color: #fff;

/* Field (text || select )
========================================================================== */
%field {
  background: $filter-background-color;
  border: 1px solid $filter-border-color;
  display: block;
  outline: none;
  padding: 10px;
  width: 100%;
}

.select-filter,
.text-filter {
  @extend %field;
}

.date-filter-comparator,
.date-filter-input {
  @extend %field;
  width: auto;
}
